Repository vocedm/novu, pull requests merged in 2023-08, with the labels that each got.

#1 feat(providers): added zenvia provider
  .cspell.json
  apps/web/public/static/images/providers/dark/zenvia.svg
  apps/web/public/static/images/providers/light/zenvia.svg
  docs/docs/channels/sms/zenvia.md
  libs/shared/src/consts/providers/channels/sms.ts
  libs/shared/src/consts/providers/credentials/provider-credentials.ts
  libs/shared/src/consts/providers/provider.enum.ts
  packages/application-generic/package.json
  packages/application-generic/src/factories/sms/handlers/index.ts
  packages/application-generic/src/factories/sms/handlers/zenvia.handler.ts
  packages/application-generic/src/factories/sms/sms.factory.ts
  packages/stateless/src/lib/content/content.engine.ts
  packages/stateless/src/lib/provider/provider.interface.ts
  pnpm-lock.yaml
  providers/zenvia/jest.config.ts
  providers/zenvia/package.json
  providers/zenvia/src/index.ts
  providers/zenvia/src/lib/zenvia.provider.spec.ts
  providers/zenvia/src/lib/zenvia.provider.ts
  providers/zenvia/src/types/example.d.ts
  providers/zenvia/src/types/param.ts
  providers/zenvia/tsconfig.json
  providers/zenvia/tsconfig.module.json
Labels: documentation, @novu/web, @novu/shared, providers

#3 [FEATURE] zenvia provider
  docs/docs/channels/sms/zenvia.md
  libs/shared/src/consts/providers/credentials/provider-credentials.ts
  packages/application-generic/src/factories/sms/handlers/zenvia.handler.ts
  providers/zenvia/src/lib/zenvia.provider.spec.ts
  providers/zenvia/src/lib/zenvia.provider.ts
Labels: documentation, @novu/shared, providers

#4 feat(api): Add endpoint execution-details/webhook to get webhook status
  apps/api/src/app/execution-details/dtos/get-webhook-status-request.dto.ts
  apps/api/src/app/execution-details/e2e/get-webhook-status.e2e.ts
  apps/api/src/app/execution-details/execution-details.controller.ts
  apps/api/src/app/execution-details/usecases/get-webhook-status/get-webhook-status.command.ts
  apps/api/src/app/execution-details/usecases/get-webhook-status/get-webhook-status.usecase.ts
  apps/api/src/app/execution-details/usecases/get-webhook-status/index.ts
  apps/api/src/app/execution-details/usecases/index.ts
  libs/dal/src/repositories/execution-details/execution-details.repository.ts
Labels: @novu/api, @novu/dal
